<form class="form-user" action="{{this}}" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="mood" placeholder="mood">
    <input type="number" name="age" placeholder="age">
    <button type="submit">SEND THIS</button>
</form>